.contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.content {
    width: 100%;
    border-radius: 15px;
    padding: 3rem 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 500px;
}

.content h1 {
    margin-bottom: 1rem;
}

.content p {
    margin-bottom: 1rem;
}

.buttonContainer Button {
    display: flex;
    align-items: center;
}

.buttonContainer Button svg {
    fill: var(--background-color);
    font-size: .9rem;
    margin-right: 0.3rem;
}