.button {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: bold;
    padding: 2px 8px;
    cursor: pointer;
}

.button:active {
    background-color: var(--background-color-variant);
}

.button.danger {
    background-color: var(--warning-red);
    color: var(--background-color);
    border-color: var(--warning-red);
}

.button.danger:active {
    background-color: var(--warning-red-selected);
}

.button.submit {
    background-color: var(--selected-color);
    color: #fff;
    border: none;
}

.button.submit:active {
    background-color: var(--selected-color-hover);
}
