.itemContainer,
.contentContainer,
.labelContainer {
    width: 100%;
}

.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentContainer {
    max-width: 100%;
    gap: .3rem;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-break: break-word;
}

.labelContainer {
    display: flex;
    gap: .3rem;
}

.actionsContainer {
    padding: 0 0 0 1rem;
}

.code {
    font-size: .8rem;
    font-weight: bold;
}


.label {
    font-size: .8rem;
    font-weight: bold;
    min-width: 6.5rem;
}

.labelVariant {
    font-size: .8rem;
    font-weight: bold;
    min-width: 6.5rem;
    max-width: 6.5rem;
}


.name,
.active,
.returned,
.overdue,
.lost {
    font-size: .9rem;
    width: 100%;
    min-width: 100px;
    margin-top: -2px;
}

.active {
    font-weight: bold;
}

.overdue,
.lost {
    color: var(--warning-red);
}

.returned {
    color: var(--text-color-variant);
    text-decoration: line-through;
}

.labelContainer {
    border-bottom: 1px solid var(--text-color-disabled);
}

.labelContainer:last-child {
    border-bottom: none;
}

/* Delay */
.delayButtonContainer {
    display: flex;
    margin-top: .5rem;
}

.delayButtonContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color);
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    gap: 0.5rem;
    border: 1px solid var(--text-color-disabled);
    border-radius: 4px;
}

.delayButtonContainer button:active {
    background-color: var(--background-color-variant);
}

/* Clickable */
.clickable {
    cursor: pointer;
    width: 100%;
}

.clickable:hover {
    background-color: var(--grey) !important;
}


.clickable .labelContainer {
    border-bottom: 1px solid var(--text-color-disabled);
}

.clickable .labelContainer:last-child {
    border-bottom: none;
}

@media screen and (max-width: 720px) {
    .itemContainer {
        padding: 0 2rem 0 0;
    }
}

@media screen and (max-width: 800px) {
    .delayButtonContainer span {
        display: none;
    }
}