.app-container {
    min-height: 90vh;
    padding: 1rem 2rem;   
    margin: 0 auto;
    display: flex;
}

.content {
    flex: 1;
    display: flex;
    background-color: var(--background-color);
    padding: 1rem;
    z-index: 1;
    margin-left: 200px;
}

.content-private {
    transition: margin-left 1s;
}

.content-expanded {
    margin-left: 0;
}