:root {
  --text-color: #303030;
  --text-color-disabled: #929292;
  --text-color-variant: #555;
  --text-color-variant-2: #3d3d3d;
  --text-color-inverted: #faf7f0;
  --border-color: #696969;
  --grey: #ccc;
  --selected-color: #7b53d8;
  --selected-color-hover: #4c2b9c;
  --selected-color-disabled: #ae8dfe;
  --background-color: #faf7f0;
  --background-color-variant: #dbd5c8;
  --background-color-variant-2: #eee9dc;
  --background-color-variant-3: #f3e2c9;
  --warning-red: #c0392b;
  --warning-red-selected: #a93226;
  --warning-red-lighter: #e05151;

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color-disabled);
  border-radius: 10px;
}

.Toastify__toast {
  background-color: var(--background-color) !important;
}