:root {
  --text-color: #000;
  --border-color: #696969;
  --selected-color: #7b53d8;
  --selected-color-hover: #4c2b9c;
  --selected-color-disabled: #ae8dfe;
  --background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}